{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>{{ ret.item.name }}</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
{% endblock head %}

{% block content %}
    <div class="info-container">
        <div class="character-card">
            <a href="{{ ret.item.wiki }}" target="_blank">
                <img src="{{ ret.item.image.url }}" class="character-image">
            </a>

            <img src="{{ ret.item.path.icon.url }}" class="icon icon-left-bottom">
            <span class="icon icon-left-top">{{ ret.count }}</span>
        </div>
        <div class="history">
            <canvas id="history-line-chart"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script> 
        const history_data = JSON.parse('{{ data|escapejs }}');
        const label = JSON.parse('{{ labels|escapejs }}');
     </script>
    <script src="{% static '/js/history-line.js' %}"></script>
{% endblock content %}

