.content {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner {
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}

.banner-image {
    width: 25vw;
    height: 500px;
    border-radius: 10%;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;    
    object-fit: cover;
}

.stats {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.banner:hover .banner-image {
    opacity: 0.3;
}

.banner:hover .stats {
    opacity: 1;
}

.text {
    opacity: 1;
    /*background-color: black; */
    color: white;
    font-size: 32px;
    padding: 16px 32px;
}

.obtained {
    border: 5px solid green;
}

.failed {
    border: 5px solid red;
}

.ticket-image {
    border-radius: 50%;
}

.ff_lost {
    border: 2px red solid;
}

.ff_win {
    border: 2px green solid;
}