.info-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-areas:
    "card history";
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
    margin-left: 10px;
}

.character-card {
    position: relative;
    border-radius: 15px;
    grid-area: card;
    max-height: 85vh;
    height: 85vh;
    width: 50vw;
}

.character-image {
    align-content: center;
    justify-content: center;
    width: auto;
    height: 85vh;
    display: block;
    overflow: hidden;
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 10px;
}

.icon-left-top {
    left: 10px;
    top: 10px;
    color: whitesmoke;
    font-size: x-large;
}

.icon-left-bottom {
    left: 10px;
}

.history {
    grid-area: history;
    color: white;
}