.navbar {
    background-color: #333;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 99999;
    height: 60px;
}

.nav-search {
    position: relative; 
    display: flex;
    flex-grow: 1; 
    max-width: 500px;
}

.autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99999; 
    background-color: #242424; 
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: scroll;
}

.autocomplete-item {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.autocomplete-item:hover {
    background-color: #242430;
}

.nav-container {
    display: flex;
    align-items: center; 
    margin: 0 auto; 
    padding: 0 20px;
    gap: 20px; 
}

.nav-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    flex-shrink: 0;
    max-width: 50px;
    max-height: 50px;
}

.search-input {
    padding: 8px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 100%;
    font-size: 1rem;
}

.search-button {
    background-color: #555;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 1rem;
    flex-shrink: 0;
}

.nav-icons {
    display: flex;
    gap: 15px; 
    flex-shrink: 0;
}

.icon-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.icon-link:hover {
    color: gold;
}

.image {
    max-width: 50px;
    max-height: 50px;
}