services:
  backend:
    build: ./backend
    volumes:
      - ${DB_PATH}:/app/db.sqlite3
      - ${MEDIA_PATH}:/app/media
    ports:
      - "8000:8000"
    environment:
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
  
  frontend:
    build: 
      context: ./frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - "5173:80"